  <form [formGroup]="cacheForm" class="well" (ngSubmit)="updateCacheTTL()">
    <h2>Cache Control</h2>       
    <p>You can customize the cache TTL here. By default, it is set to <strong>2 hours</strong> in the <strong>app.config.ts</strong> file.<br> The cache TTL is currently used for caching the current conditions and forecasts.</p>       
    <div class="form-group">
      <input id="cacheTTL" type="number" formControlName="cacheTTL" class="form-control" [placeholder]="'Cache TTL (seconds)'">
    </div>
    <div class="actions">
      <button type="submit" class="btn btn-danger" [disabled]="cacheForm.invalid">Clear and update cache TTL</button>
      <button type="button" class="btn btn-secondary" (click)="resetToDefault()">Reset to default</button>
    </div>          
    <hr>
    <strong>Current Cache TTL: </strong>{{ displayCacheTTL() | formatCacheTTL }}
  </form>